.box.a
  = link_to '#', class: "link" do
    .box__image
      = image_tag "sample.jpg", size: "188x188", class: "photo"
      .price
        %span= "¥" + "720"
    .box__name 
      %span= "最新パソコン WINDOWS１１"
