.product
  .product__upper
    %h3= "カテゴリー" + "新着アイテム"
    = link_to "#", class: "see_more" do
      もっと見る
      = icon 'fas', 'angle-right', class: "icon"
  .product__lower
    %ul
      %li=render "box"
      %li=render "box"
      %li=render "box"
      %li=render "box"
      %li=render "box"
      %li=render "box"
      %li=render "box"
      %li=render "box"
      %li=render "box"
      %li=render "box"