- breadcrumb :sign_out
.breadcrumbs
  = breadcrumbs pretext: "",separator: " &rsaquo; ", class:"breadcrumbs__bar"

.destroy
  .user_destroy
    .user_destroy__body
      .user_destroy__body__side
        =render partial:"partial/sidelist"
        
      .user_destroy__main
        .user_destroy__main--body
          .user_destroy__main--body--form
            = link_to "ログアウト", destroy_user_session_path, method: :delete,class: 'user_destroy__main--body--form--form check-btn'