.aside
  = image_tag "aside.jpg", size: "1280x850", class: "aside__image"
  .aside__word
    .aside__word__upper
      スマホでかんたんフリマアプリ
    .aside__word__middle
      今すぐ無料ダウンロード！
    .aside__word__lower
      =image_tag "logo_red.svg", class: "aside-icon"
      =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8", target: "_blank", class: "aside-banner" do
        =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: "aside-badge"
      =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja", target: "_blank", class: "aside-banner" do
        =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: "aside-badge"