- if user_signed_in?
  = link_to new_item_path, data: {"turbolinks" => false}, class: 'sell-btn' do
    .sell-btn__head 出品
    %i.fas.fa-camera
- else
  = link_to new_user_session_path, data: {"turbolinks" => false}, class: 'sell-btn' do
    .sell-btn__head 出品
    %i.fas.fa-camera
