.product__change {
  margin: 24px auto;
  padding: 8px 16px;
  width: 700px;
  font-size: 14px;
  line-height: 50px;
  background-color: #fff;
  text-align: center;
  &__edit {
    width: 668px;
    height: 50px;
    margin: 16px 0;
    background-color: #ea352d;
    color: #ffffff;
    display: block;
  }
  &__or {
    width: 668px;
    height: 16px;
    line-height: 16px;
    color: #333333;
  }
  &__suspension {
    width: 668px;
    height: 50px;
    margin: 16px 0;
    background-color: #aaa;
    color: #ffffff;
    display: block;
  }
  &__delete {
    width: 668px;
    height: 50px;
    margin: 16px 0;
    background-color: #aaa;
    color: #ffffff;
    display: block;
  }
}