.box {
  height: 252px;
  width: 188px;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  box-shadow: 0px 2px 4px gray;
  position: relative;
  overflow: hidden;
  display: block;
  &__inner {
    &::after {
      content: "";
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: solid 1px transparent;
      z-index: 100;
    }
    &__image {
      position: relative;
      height: 188px;
      width: 188px;
      z-index: 1;
      &__price {
        position: absolute;
        left: 0;
        bottom: 8px;
        font-size: 17px;
        background: rgba(0,0,0,.4);
        border-radius: 0 14px 14px 0;
        height: 28px;
        line-height: 28px;
        letter-spacing: .02em;
        padding: 0 12px;
        color: #fff;
      }
    }
    &__name {
      height: 64px;
      width: 188px;
      padding: 0 12px;
      color: rgb(51, 51, 51);
      background-color: rgb(245, 245, 245);
      display: table;
      &__span {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.link {
  text-decoration: none;
}

.box__inner:hover::after {
  border-color: rgb(0, 149, 238);
}

.items-box_photo__sold{
  &__inner{
    transform: rotate(-45deg);
    font-size: 28px;
    color: #fff;
    position: absolute;
    font-weight: 600;
    top: 30px;
  }
}
.items-box_photo__sold::after{
  content:"";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 0;
  border-color: #007bff transparent transparent transparent;
}
// 購入完了画面
.buy__body{
  width: 500px;
  margin:0 auto;
}
.buy {
  &__alert {
    background-color: #FFEBCD;
    height: 150px;
    line-height: 3.5em;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    &__top {
      display: flex;
      margin-left: 150px;
      .far.fa-clock.alert__icon {
        color: red;
        font-size: 40px;
        margin-top: 15px;
      }
      &__text {
        color: red;
        margin-left: 5px;
        line-height: 5em;
        font-weight: bold;
      }
    }
    &__bottom {
      font-size: 15px;
      font-weight: bold;
    }
  }
  &__centerbox {
    width: 200px;
    margin:0 auto;
    &__head {
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid lightgray;
      height: 50px;
      line-height: 50px;
    }
    &__item {
      &__bx {
        &__image {
          margin-top: 10px;
          .single_main__img {
            border-radius: 10px;
          }
        }
        &__right {
          margin-top: 10px;
          display: flex;
          font-weight: bold;
          &__name {

          }
          &__detail {

          }
        }
      }
    }
    &__buyinfo {
      margin-top: 10px;
      &__price {
        &__upper {
          display: flex;
          font-weight: bold;
          &__detail {

          }
          &__price {

          }
        }
      }
      &__buybutton {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        .buy__centerbox__buyinfo__buybutton__red {
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 200px;
          line-height: 48px;
          font-size: 14px;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}
