.products {
  padding: 42px 0 40px;
  width: 1040px;
  margin: 0 auto;
  .product {
    margin-bottom: 60px;
    background-color: rgb(239, 239, 239);
    &__upper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
      h3 {
        font-weight: 600;
        line-height: 1.4em;
        font-size: 24px;
      }
      .see_more {
        font-size: 14px;
        padding: 13px 16px 0px 5px;
        color: rgb(0, 149, 238);
        font-weight: 600;
        line-height: 20px;
        height: 20px;
        text-decoration: none;
        cursor: pointer;
        .icon {
          font-size: 16px;
          line-height: 20px;
          vertical-align: baseline;
        }
      }
    }
    &__lower {
      font-size: 0;
      li {
        color: rgb(51, 51, 51);
        font-size: 14px;
        cursor: pointer;
        display: inline-block;
        height: 272px;
        width: 208px;
        padding: 10px;
        margin: 0;
      }
    }
  }
}