.sell-btn {
  position: fixed;
  z-index: 100;
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: red;
  color: #fff;
  text-align: center;
  text-decoration: none;

  &__head {
    height: 22px;
    margin: 32px 0 3px 0;
    font-size: 22px;
    line-height: 1.1;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  }

  i {
    font-size: 60px;
  }
}
