.main {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  .section {
    width: 700px;
    background-color: #fff;
    margin: 0 270px;
    .title {
      padding: 32px;
      font-size: 22px;
      font-weight: bold;
      text-align:center;
      line-height: 33px;
    }
    .item {
      padding: 32px 16px;
      border-top: solid 1px #f5f5f5;
      &__box {
        height: 80px;
        margin: 0 162.5px;
        display: flex;
        &__image {
          height: 80px;
          width: 80px;
        }
        &__content {
          margin-left: 16px;
          width: 247px;
          height: 80px;
          .item__name {
            width: 247px;
            height: 42px;
            padding-bottom: 8px;
            font-size: 14px;
            line-height: 1.5;
            text-align: left;
          }
          .item__price {
            font-weight: 600;
            display: flex;
            &__number {
              height: 19px;
            }
            &__tax_included {
              font-size: 12px;
              width: 96px;
              height: 12px;
            }
          }
        }
      }
    }
    .payment {
      border-top: solid 1px #f5f5f5;
      padding: 32px 16px 48px;
      &__box {
        margin: 0 162.5px;
        &__inner {
          &__price {
            height: 30px;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            vertical-align: sub;
            &__left {
              width: 203px;
              height: 22px;
              font-size: 18px;
              padding-top: 8px;
            }
            &__right {
              height: 30px;
              font-size: 30px;
            }
          }
          &__check_box {
            margin: 24px 0 32px;
            height: 14px;
            display: flex;
            position: relative;
            &__icon {
              box-sizing: border-box;
              transform: scale(1.42857143);
              color: #ccc;
              position: absolute;
              top: -1.5px;
            }
            &__word {
              padding-left: 28px;
              line-height: 14px;
              font-size: 14px;
              color: #888;
            }
          }
          &__card {
            border-top: solid 1px #f5f5f5;
            padding: 32px 0;
            &__inner {
              &__method {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
                &__word {
                  height: 14px;
                  width: 70px;
                  color: #333333;
                  font-weight: bold;
                }
                &__change {
                  &__link {
                    color: #0099e8;
                    text-decoration: none;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
              &__info {
                height: 63px;
                margin-top: 8px;
                font-size: 14px;
                line-height: 1.5;
              }
              &__logo {
                &__image {
                  height :15px;
                }
              }
            }
          }
          &__shipping {
            border-top: solid 1px #f5f5f5;
            padding: 32px 0;
            &__inner {
              &__title {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
                &__word {
                  height: 14px;
                  width: 42px;
                  color: #333333;
                  font-weight: bold;
                }
                &__change {
                  &__link {
                    color: #0099e8;
                    text-decoration: none;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
              &__address {
                margin-top: 8px;
                font-size: 14px;
                line-height: 1.5;
              }
            }
          }
          &__submit {
            border-top: solid 1px #f5f5f5;
            padding-top: 32px;
            height: 50px;
            &__buttun {
              font-size: 14px;
              font-weight: bold;
              color: #FFFFFF;
              background-color: #EA352D;
              height: 50px;
              width: 343px;
              border: none;

            }
          }
        }
      }
    }
  }
}